*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button{
    display: flex;
    justify-content: space-between;
}
#firstButton{
    font-size: 4vh;
    border: none;
    cursor: pointer;
}
#SecondButton{
    font-size: 4vh;
    border: none;
    cursor: pointer;
}
#ThirdButton{
    font-size: 4vh;
    border: none;
    cursor: pointer;
}
#FourthButton{
    font-size: 4vh;
    border: none;
    cursor: pointer;
}
#FifthButton{
    font-size: 4vh;
    border: none;
    cursor: pointer;
}
.image>img{
    /* border: 2px solid red; */
    width: 22vw;
    height: 35vh;
    border-radius: 15px;
}
.price>p{
    font-size: 23px;
}
.itemname>p{
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.description>p{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.description{
    /* border: 2px solid red; */
    width: 42vh;
}
.threeitem{
    /* border: 2px solid red; */
    width: 45vh;
    margin-left: 14vh;
}
.allitem{
    /* border: 2px solid red; */
    width: 22vw;
margin-right: 22vh;
}
.allitemTwo>ul{
    color: white;
    border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    display: grid;
    gap: 10px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #e74c3c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #e74c3c, #000000);}
.allitem{
    /* border: 2px solid rgb(54, 218, 60); */
    background-color: black;
    margin-left: 5vh;
    margin-top: 5vh;
    border-radius: 12px;
  }
.listitem{
    background-color: yellow;
}
.description{
    /* border: 2px solid red; */
    height: 15vh;
    width: 38vh;
    margin-left: 4vh;
}
.itemname{
    /* border: 2px solid red; */
    width: 25vh;
    margin-left: -3vh;
}
.allitemTwo{
     /* background: #000000;   */
    /* background: -webkit-linear-gradient(to left, #e74c3c, #000000);   */
    /* background: linear-gradient(to left, #e74c3c, #000000);   */
    /* border: 2px solid red; */
    width: 100%;
    height: 100vh;
    background-image: url('https://cdn.pixabay.com/photo/2016/12/10/21/26/food-1898194_640.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.button{
    background-color: black;
}
#firstButton{
    border-radius: 5px;
}
#Addbutton{
    margin-left: 4vh;
    width: 15vh;
    /* height: 5vh; */
    font-size: 3vh;
    background-color: #e74c3c;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid red;
}
.heart{
    /* border: 2px solid red; */
    width: 5vh;
    margin-left: 16vh;
    cursor: pointer;
}
.heart>i{
    font-size: 2vh;
}
.buttonicon{
    display: flex;

}
.abcd{
   
    color: red;
    font-size: xx-large;
}