
.cotainer{
border: 2px solid red;
width: 50vh;
height: 60vh;
background-color: white;
margin-top: 18vh;
margin-left: 35vw;
}
.hed{
    display: flex;
    justify-content: space-between;
}
.hed>button{
    cursor: pointer;
    background-color: white;
    border: none;
}