body{
    margin: 0px;
    padding: 0px;
    background-color: aquamarine;
}
.container{
border: 2px solid red;
width: 50vh;
height: 60vh;
background-color: white;
margin-top: 18vh;
margin-left: 35vw;
}
.head{
    display: flex;
    justify-content: space-between;
}
.head>button{
    cursor: pointer;
    background-color: white;
    border: none;
}